<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css"/>

    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>



<div class="container">

    <h1>Sockets and Sessions</h1>

    <!--<div id="userName"><span>noOne</span>&nbsp is logged in</div>-->
    <!--<div id="login">-->
        <!--<input type="text" id="userNameInput" tabindex = "86"/><button id="userNameButton" tabindex = "89">Login</button>-->
    <!--</div>-->

    <div id="chat">
        <input type="text" id="chatInput" tabindex = "96"/><button id="chatButton" tabindex = "99">Post</button>

        <ul id="messages"></ul>

    </div>



    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>password</strong>: <%= user.password %>
                </p>

            </div>
        </div>

    </div>



    <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <p>
                    <strong>id</strong>: <%= user.fb_id %><br>
                    <strong>token</strong>: <%= user.fb_token %><br>
                    <strong>email</strong>: <%= user.fb_email %><br>
                    <strong>name</strong>: <%= user.fb_name %>
                </p>

            </div>
        </div>

    </div>



</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>

</body>
</html>
